<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?s=$1 [QSA,PT,L]
  RewriteRule ^/([\w]+)/([\d]+)\.html$ /index.php/portal/xm/index/id/$2/classname/$1
  
</IfModule>
