/*phb-page*/
.h-center{margin-bottom: 0; padding-bottom: 24px;}

.phb-top{position: relative; width: 100%; margin-top: 10px; overflow: hidden;}
.hot-phb{float: left; width: 890px; height: 500px; background: #fff; padding: 0 20px; box-sizing: border-box;}
.hot-phb .common-tit{margin-top: 27px;}
.hot-phb .cont{margin: 15px -5px 0; overflow: hidden;}
.hot-phb li{float: left; width: 162px; margin: 0 5px 13px;}
.hot-phb li .picfocus{width: 100%; height: 162px;}
.hot-phb li .tit{line-height: 24px; padding: 5px 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.hot-phb li .tit em{color: #ec2b42;}

.zixun{position: absolute; top: 0; right: 0; width: 300px; height: 500px; box-sizing: border-box; padding: 20px; background: rgba(255,255,255,0.95);}
.zixun .tabs {margin-top: 20px; overflow: hidden;}
.zixun .tabs li{float: left; width: 50%; line-height: 40px; font-size: 16px; text-align: center; cursor: pointer; background: #dedede; color: #828282; font-weight: bold;}
.zixun .tabs li.on{background: #ec2b42; color: #fff;}
.zixun .cont{display: none;}
.zixun .list{margin-top: 20px; overflow: hidden;}
.zixun .list li{line-height: 38px;}
.zixun .list li .num{float:left; width: 16px; height: 16px; margin: 12px 15px 0 0; display: block; border-radius: 50%; background: #e7d8d9; font-size: 12px; color: #ec2b42; line-height: 16px; text-align: center;}
.zixun .list li .name{float:left; width: 100px;  color: #282828; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.zixun .list li .price{float:left; width: 77px; color: #ec2b42; text-align: center;}
.zixun .list li .redu{float:left; width: 52px; color: #a1a1a1; text-align: center;}
.zixun .list li .num1,
.zixun .list li .num2,
.zixun .list li .num3{background: url(../images/icon.png) no-repeat -64px -64px; text-indent: -1000em;}
.zixun .list li .num2{background-position: -80px -64px;}
.zixun .list li .num3{background-position: -96px -64px;}
.zixun .m-1{margin-top: 20px; overflow: hidden;}
.zixun .m-1 .picfocus{float:left;width:90px; height: 60px;overflow:hidden;}
.zixun .m-1-a{float:left;width:160px;height:60px;margin: 0 0 0 10px; display: inline; overflow: hidden;}
.zixun .m-1-a dt a{line-height: 18px; height: 36px; overflow: hidden; width: 100%; display: block;}
.zixun .m-1-a dd{font-size: 12px; margin-top: 6px; line-height: 16px; color: #afafaf; overflow: hidden;} 
.zixun .m-list{margin-top: 20px;}
.zixun .m-list li{line-height: 18px; color: #afafaf; font-size: 12px; margin-bottom: 8px;}
.zixun .m-list li a{height: 18px; line-height: 18px; font-size: 14px; margin-bottom: 4px; color: #2c2c2c;}
.zixun .m-list li span{float: left; width: 100%; line-height: 18px; padding-left: 10px; text-align: left; box-sizing: border-box;}

/*phb-list*/
.phb-list{margin: 10px -5px 0; overflow: hidden;}
.phb-item{float:left; width: 292px; margin: 0 5px 10px; padding: 0 20px 22px ; border-top: 4px solid #ec2b42; background: #fff; box-sizing: border-box;}
.phb-item .tit-box{margin-bottom: 7px; line-height: 48px; font-size: 16px; font-weight: bold; color: #353535;}
.phb-item .tit-box .more{float: right; line-height: 48px; font-size: 14px; font-weight: normal; color: #7e7e7e;}
.phb-item .tit-box em{color: #ec2b42;}
.phb-item .tit-box .icon{width: 20px; height: 20px; float: left; display: block; margin: 14px 8px 0 0;}
.phb-item ul{overflow: hidden;}
.phb-item li{ float: left; width: 100%;line-height: 38px;}
.phb-item li .item{width:100%; overflow: hidden; display: block;}
.phb-item li .num{float:left; width: 16px; height: 16px; margin: 12px 5px 0 0; display: block; border-radius: 50%; background: #e7d8d9; font-size: 12px; color: #ec2b42; line-height: 16px; text-align: center;}
.phb-item li .name{float:left; width: 94px;  color: #282828; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.phb-item li .price{float:left; width: 72px; color: #ec2b42; text-align: center; font-size: 12px;}
.phb-item li .redu{float:left; width: 52px; color: #a1a1a1; text-align: center;}
.phb-item li .hangye{float: left; width: 42px; height: 16px; margin: 9px 10px 0 3px; font-size: 12px; line-height: 16px; overflow: hidden; text-align: center; color: #b8b8b8; border: 1px solid #d2d2d2; border-radius: 2px;}
.phb-item li .icon-up{float: left; width: 8px; height: 12px; margin: 12px 0 0; background-position: -204px -117px; display: block;}
.phb-item li .num1,
.phb-item li .num2,
.phb-item li .num3{background: #ec2b42; color: #fff;}

.phb-item .m-1{ display: none; float: left; overflow: hidden; margin: 10px 0 20px 0; overflow: hidden; -webkit-transition: 0.5s ease all; transition: 0.5s ease all;}
.phb-item .m-1 .brand{float:left;width:120px; height: 100px; border: 2px solid #eee; box-sizing: border-box; overflow:hidden; text-align: center;}
.phb-item .m-1 .brand img{max-width: 116px; max-height: 96px;}
.phb-item .m-1-a{float:left;width:122px;height:100px;margin: 0 0 0 10px; display: inline; overflow: hidden;}
.phb-item .m-1-a dt a{line-height: 22px; overflow: hidden; width: 100%; display: block;}
.phb-item .m-1-a dd{font-size: 12px; margin-top: 8px; line-height: 24px; color: #a7a7a7;overflow: hidden;} 
.phb-item .m-1-a dd span{float: left; width: 100%; }
.phb-item .m-1-a dd em{font-weight: bold; color: #ff7888;}
.phb-item .m-1-a dd i{color:#353535;}
.phb-item .m-1:hover dt a{color: #ec2b42;}

.phb-item .cont .link-hover .m-1{display: block;}

.phb-item:nth-child(1) .tit-box .icon{background-position: 0 -64px;}
.phb-item:nth-child(2) .tit-box .icon{background-position: 0 -84px;}
.phb-item:nth-child(3) .tit-box .icon{background-position: 0 -104px;}
.phb-item:nth-child(4) .tit-box .icon{background-position: 0 -124px;}
.phb-item:nth-child(5) .tit-box .icon{background-position: -20px -64px;}
.phb-item:nth-child(6) .tit-box .icon{background-position: -20px -84px;}
.phb-item:nth-child(7) .tit-box .icon{background-position: -20px -104px;}
.phb-item:nth-child(8) .tit-box .icon{background-position: -20px -124px;}
.phb-item:nth-child(9) .tit-box .icon{background-position: 0 -144px;}
.phb-item:nth-child(10) .tit-box .icon{background-position: -20px -144px;}
.phb-item:nth-child(11) .tit-box .icon{background-position: -40px -144px;}
.phb-item:nth-child(12) .tit-box .icon{background-position: -60px -144px;}