@charset "utf-8";
/* CSS Document */

*{padding:0;margin:0}
html{_background:url(about:blank);}
body{font-family:"微软雅黑";font-size:12px;color:#555;line-height:1.5em;background:#f7fafc;}
a{color:#06c;text-decoration:none}
a.red,a:hover{color:#F60;}
a:hover{text-decoration:underline;}
img{border:0}
ul,ol{list-style:none}
ul li img{display:block;vertical-align:bottom;}
input,textarea,select,font{font-size:12px;color:#666;outline:none;font-family:"微软雅黑";}
h1,h2,h3,h4,h5{font-size:14px;}
.clr{height:0;font-size:0;clear:both;_overflow:hidden}
em,i{font-style:normal;}

.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.topLine{border-top:1px solid #ddd;}
.footLine{border-bottom:1px solid #ddd;}

/*主体框架*/
.header,.container{width:1000px;margin:0 auto;}
.container{margin-bottom:30px;border:1px solid #ddd;background:#fff url(https://images.qj.com.cn/reg/reg2015/reg_img_3.jpg) right top repeat-y;}
.footer_wrap{border-top:1px solid #bfd2e0;background:#fff;}



.regStep {
  background: rgba(0, 0, 0, 0) url("https://images.qj.com.cn/reg/reg2015/admin_reg_6a.jpg") no-repeat scroll left bottom;
  display: block;
  height: 55px;
  margin-bottom: 50px;
  padding-left: 15px;
}
.regStep2 {
  background: rgba(0, 0, 0, 0) url("https://images.qj.com.cn/reg/reg2015/admin_reg_6b.jpg") no-repeat scroll left bottom;
  display: block;
  height: 55px;
  margin-bottom: 50px;
  padding-left: 15px;
}
.clr {
  clear: both;
  font-size: 0;
  height: 0;
}
.regStep li {
  color: #999;
  float: left;
  font-family: "微软雅黑";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  width: 210px;
}
.regStep li.past {
  color: #f60;
}

/*头部*/
.headerBox{margin-bottom:20px;zoom:1;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_2.jpg) repeat-x;}
.header{height:104px;overflow:hidden;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_1.jpg) center center no-repeat;}
.header h1{float:left;width:359px;height:40px;margin-top:28px;overflow:hidden;display:inline;text-indent:-1999px;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_logo.jpg) no-repeat;}

.topLinks{float:right;padding-top:20px;}
.topLinks ul{float:right;height:28px;line-height:28px;}
.topLinks ul li{float:left;padding-right:15px;margin-right:15px;white-space:nowrap;background:url(https://images.qj.com.cn/reg/reg2015/img_1e.gif) right center no-repeat;}
.topLinks ul li.last{padding-right:0;margin-right:12px;background:none;}
.topLinks ul li a{color:#333;}
.topLinks ul li a:hover{color:#f00;}
.topLinks p{float:right;padding:0 10px 0 30px;line-height:20px;clear:both;color:#069;background:url(https://images.qj.com.cn/reg/reg2015/img_1c.gif) left center no-repeat;}
.topLinks p strong{color:#f00;}

/*注册*/
.regBox{float: left;width:674px;padding:10px 40px 60px 40px;}
.regBox h2{height:43px;line-height:42px;padding-left:22px;margin-bottom:35px;font-family:Microsoft YaHei,SimHei;font-weight:normal;font-size:18px;border-bottom:1px solid #eee;background:url(https://images.qj.com.cn/reg/reg2015/img_12_b.gif) 5px center no-repeat;}
.regSide{float:right;width:244px;padding:35px 0;font-size:14px;line-height:1.8em;}
.regSide p{margin:0 35px 15px 35px;}

.formContent p.buttonBox{padding-top:25px;}
.agreeSubmit_btn{width:217px;height:47px;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_4.jpg) no-repeat;}

.tiaokuanLink{float:left;margin-top:10px;color:#777;text-decoration:underline;}
.tiaokuanLink:hover{color:#999;text-decoration:none;}

/*表单验证提示*/
.tipsBox{width:200px;height:auto !important;height:20px;min-height:20px;line-height:1.5em;padding:7px 0 0 25px;color:#999;}
.tipsBox.default{background:url(https://images.qj.com.cn/reg/reg2015/reg_sprites.gif) 0 -51px no-repeat;}
.tipsBox.ok{background:url(https://images.qj.com.cn/reg/reg2015/u_2_4b.gif) 0 9px no-repeat;}
.tipsBox.error{color:#F30;background:url(https://images.qj.com.cn/reg/reg2015/reg_sprites.gif) -39px -26px no-repeat;}

/*注册成功*/
.succeedTips,.otherTips,.alertTips{font-family:"微软雅黑",黑体;font-weight:normal;}
.succeedTips{width:325px;height:100px;line-height:75px;padding-left:75px;margin:80px auto 40px auto;font-size:36px;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_6.jpg) left 10px no-repeat;}

.otherTips{width:763px;padding:45px 0 60px 0;margin:0 auto 170px auto;border:1px solid #ddd;background:#fff;}
.otherTips ul{padding:0 20px 30px 80px;}
.otherTips ul li{height:35px;line-height:35px;padding-left:15px;font-size:16px;color:#666;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_7.gif) left 15px no-repeat;}
.otherTips ul li em{margin:0 5px;font-style:italic;font-size:18px;color:#f00;}
.otherTips input{width:208px;height:47px;display:block;margin:0 auto;border:0;cursor:pointer;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_5.jpg) no-repeat;}

/*选择角色*/
.alertTips{width:520px;height:32px;line-height:32px;padding-left:40px;margin:80px auto 60px auto;font-size:18px;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_7.jpg) left 2px no-repeat;}
.selectReg{width:773px;margin:0 auto 170px auto;}
.selectReg ul{width:100%;overflow:hidden;}
.selectReg ul li{float:left;width:387px;height:262px;text-indent:-1999px;overflow:hidden;position:relative;z-index:500;}
.selectReg ul li input{width:121px;height:46px;border:0;cursor:pointer;position:absolute;bottom:35px;}
.selectReg ul li.selected{z-index:501;}
.selectReg ul li#person{background:url(https://images.qj.com.cn/reg/reg2015/reg_img_8_1.jpg) no-repeat;}
.selectReg ul li#business{margin-left:-1px;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_9_1.jpg) no-repeat;}
.selectReg ul li#person.selected{background:url(https://images.qj.com.cn/reg/reg2015/reg_img_8_2.jpg) no-repeat;}
.selectReg ul li#business.selected{background:url(https://images.qj.com.cn/reg/reg2015/reg_img_9_2.jpg) no-repeat;}
.selectReg ul li#person input{left:160px;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_10_1.png) no-repeat;_background:none;/*If IE6*/_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image1.jmw.com.cn/business/images/reg_img_10_1.png', sizingMethod='crop');}
.selectReg ul li#business input{left:188px;background:url(https://images.qj.com.cn/reg/reg2015/reg_img_10_2.png) no-repeat;_background:none;/*If IE6*/_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image1.jmw.com.cn/business/images/reg_img_10_2.png', sizingMethod='crop');}


.topTitle {
  background: rgba(0, 0, 0, 0) url("https://images.qj.com.cn/reg/reg2015/admin_reg_1.jpg") no-repeat scroll left bottom;
  height: 80px;
  line-height: 65px;
  margin-bottom: 50px;
  padding-left: 5px;

}
.topTitle h2 {
  float: left;
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: normal;
  padding-left: 50px;
}



a.rl {
  background: #f18410 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 5px 0 0 10px;
  text-align: center;
  width: 45px;
}
a.rl:link,a.rl:visited{
  text-decoration: none;
}








.formContent p::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
.formContent p.submitBtn {
  padding-top: 10px;
}
.formContent p {
  display: block;
  height: auto !important;
  line-height: 30px;
  margin-bottom: 10px;
  min-height: 40px;
}
.formContent p.submitBtn.agree input {
  height: 35px;
  width: 159px;
}
.formContent p.submitBtn input {
  background-color: #c00;
  border: 0 none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  height: 35px;
  width: 109px;
  margin-left:160px;
}
.treatyLink {
  clear: both;
  display: block;
  overflow: hidden;
  padding-left: 162px;
}
.treatyLink a {
  color: #0066cc;
  font-size: 13px;
}
.tipsBox.default {
  background: rgba(0, 0, 0, 0) url("https://images.qj.com.cn/reg/reg2015/reg_sprites.gif") no-repeat scroll 0 -51px;
}
.tipsBox {
  color: #999;
  height: auto !important;
  line-height: 1.5em;
  min-height: 20px;
  padding: 7px 0 0 25px;
  width: 200px;
}

.treatyLink a.rl {
  background: #f18410 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 5px 0 0 10px;
  text-align: center;
  width: 54px;
}
a.rl:link, a.rl:visited {
  text-decoration: none;
}

.treatyLink a.kszc {
  background: #0066cc none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 5px 0 0 10px;
  text-align: center;
  width: 120px;
}
a.kszc:link, a.kszc:visited {
  text-decoration: none;
}
