@charset "utf-8";
/* CSS Document */

/*表单内容*/
.formContent{padding-top:20px;}
.formContent h3{height:38px;line-height:38px;padding-left:35px;margin-bottom:25px;border-bottom:1px solid #ddd;background:url(https://images.qj.com.cn/reg/reg2015/admin_21.gif) 10px center no-repeat;}
.formContent p{height:auto !important;height:40px;min-height:40px;line-height:30px;display:block;margin-bottom:5px;}
.formContent p:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.formContent p em,.formContent input,.formContent p select,.formContent p font,.formContent p label{float:left;margin:3px 10px 0 0;font-size:12px;color:#333333;}
.formContent p em span{color:red;}
.formContent input{outline:none;}
.formContent p em{width:150px;margin:3px 5px 0 0;text-align:right;}
.formContent p select{width:100px;height:24px;padding:3px;margin-top:5px;}
.formContent p label input{margin:9px 5px 0 0;*margin:4px 0 0 0;}

.formContent .inp1,.formContent .inp2,.formContent .inp3,.formContent .inp4{height:26px;line-height:26px;padding:0 5px;border:1px solid #ddd;background:url(https://images.qj.com.cn/reg/reg2015/img_4e.gif) repeat-x;}
.formContent .inp1.selected,.formContent .inp2.selected,.formContent .inp3.selected,.formContent .inp4.selected{border:1px solid #56a5f5;background:#FEFFE3 url(https://images.qj.com.cn/reg/reg2015/img_4f.gif) repeat-x;}
.formContent .inp1.errorAlert,.formContent .inp2.errorAlert,.formContent .inp3.errorAlert,.formContent .inp4.errorAlert{border:1px solid #FF9A9A;background:#FEFFE3 url(https://images.qj.com.cn/reg/reg2015/img_4f.gif) repeat-x;}
.formContent .inp1{width:250px;}
.formContent .inp2{width:80px;}
.formContent .inp3{width:120px;}
.formContent .inp4{width:180px;}

.formContent p.buttonBox{padding-top:10px;}
.formContent p.buttonBox input{border:0;cursor:pointer;}

.formContent .boxWrap{float:left;height:31px;position:relative;display:block;}
.formContent .calendarSelect{width:31px;height:24px;display:block;cursor:pointer;position:absolute;right:11px;top:6px;background:url(https://images.qj.com.cn/reg/reg2015/reg_sprites.gif) 0 0 no-repeat;}
.formCode,.refreshCode{float:left;margin:3px 10px 0 0}
.formContent .file_input{width:71px;height:28px;position:absolute;right:0px;top:0;border:0;cursor:pointer;filter:alpha(opacity=0);opacity:0;}

/*邮箱提示*/
.mailListBox,.mailListBox iframe,.mailListBox ul{position:absolute;}
.mailListBox iframe,.mailListBox ul{left:0;top:0;}
.mailListBox{width:262px;height:247px;}
.mailListBox iframe{width:400px;height:260px;}
.mailListIframe{filter:alpha(opacity=0);opacity:0;}
.mailListBox ul{padding:10px;border:1px solid #ddd;background:#fff;}
.mailListBox ul li{padding-left:5px;line-height:25px;cursor:pointer;}
.mailListBox ul li.current,.mailListBox ul li.hover{background:#f7f7f7;}
.mailListBox ul li.first{background:#fff;}


.isok {
  background: rgba(0, 0, 0, 0) url("https://images.qj.com.cn/reg/reg2015/contok.png") no-repeat scroll 0 0;
  display: none;
  float: left;
  height: 15px;
  margin: 10px 0 0 7px;
  width: 15px;
}